RAILWAY_API_TOKEN="your-railway-api-token"
RAILWAY_PROJECT_ID="your-project-id"
RAILWAY_ENVIRONMENT_NAME="production"
RAILWAY_ENVIRONMENT_ID="your-env-id"
TARGET_SERVICE_ID="your-target-service-id"
MAX_RAM_GB="2"
MAX_RAM_CRON_INTERVAL_CHECK="*/1 * * * *"
CRON_INTERVAL_RESTART="0 4 * * *"